<html>
<head>
    <title>Contact Me</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/login.css">

<style type="text/css">

a {
	color:004EDA;
	text-decoration: none
}

span + span {
	font-family: 'lato';
	font-size:27px;
	position: relative;
	bottom: 7px
}

</style>
</head>

<body bgcolor=#f8f8f8>


<div class="center" style="	width:465px;">

	<a href="../"><img id="smallLogo" src="../assets/images/logo.png"></a>
	
	<div id="getInTouch">Get In Touch</div>
	
	<br>
	
	<div class="contactLink">
		<a href="mailto:ibrahim@@saymeh.com" >
			<span class="fa fa-envelope-o fa-3x"></span>
			<span style="left:31px">ibrahim@@saymeh.com</span>
		</a>
	</div>
	
	<div class="contactLink">
		<a href="http://www.linkedin.com/in/ibrahimsaymeh"  target="_blank">
			<span class="fa fa-linkedin-square fa-3x" style="position: relative;left: 3px;"></span>
			<span style="left:38px">linkedin.com/in/ibrahimsaymeh</span>
		</a>
	</div>

</div>

</body>
</html>
