<html>
<head>
    <title>About Easy Compare</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/login.css">
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <style type="text/css">
		li {
		padding:7px
		}
    </style>
    
</head>

<body bgcolor=f8f8f8>

<div class="center" style="	width:865px;">

	<a href="../"><img id="smallLogo" src="../assets/images/logo.png"></a>
	
	<hr id="introDivider">
	
	<span class="introBoxes">Demo
		<br>
		<iframe src="//www.youtube.com/embed/hAFnhI_V39A?rel=0" frameborder="0" allowfullscreen id="introVideo"></iframe>
	</span>
	
	<span class="introBoxes">Login Info
		<br>
<textarea spellcheck="false" rows="4" cols="45" id="introCreds">
Email      easycompare123@@gmail.com
Password      hello123</textarea>
</span>

	<div id="introAboutHeader">About</div>
	<div id="introExp">
		<ul>
			<li>Easy Compare is a sensor based information retrieval system</li>
			<li>This <span class="importantHL">proof of concept</span> is an example of what is possible if NFC tags are made ubiquitous (similar to barcodes)</li>
			<li>Retail stores such as Best Buy, Walmart, and IKEA place paper-based information leaflets for pickup near various items for sale</li>
			<li>Easy Compare revolves around the idea that stores have placed NFC tags next to each product (similar to how barcodes are presently used)</li>
			<li>The <span class="importantHL">Easy Compare app</span> allows you to tap a tag to download and save information about a product on your mobile device</li>
			<li>Allows you to <span class="importantHL">compare products</span> that are sold by competing stores</li>
			<li>Stores can use NFC tags to <span class="importantHL">distribute coupons</span> exclusively to shoppers who have visited their store</li>
		</ul>
	</div>

	<div id="introIntegrityNote">Note: In order to preserve the integrity of the web application while keeping as much of the the original functionality present, the back end code for changing passwords and deleting tags and coupons has been disabled.</div>

	<br>

</div>

</body>
</html>
