<html>
<head>
    <title>Page Not Found</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/login.css">
<style type="text/css">
h1 {
	font-size: 28px;
	padding-top:30px
}

h2 {
	font-size: 20px;
}

* {
	font-weight: bold;
	text-align: center
}
</style>
</head>

<body>

<h1>Sorry, this page isn't available</h1>
<h2>The link you followed is broken. <a href="/" class="convLink">Click here to return to the site.</a></h2>

</body>
</html>